# Global bazelrc file, see https://docs.bazel.build/versions/master/guide.html#bazelrc.

# Lockfile checking is too slow in the version of bazel we use.
# Consider setting the mode to error after upgrading bazel.
# see https://github.com/bazelbuild/bazel/issues/19952
common --enable_bzlmod --lockfile_mode=off
common --experimental_build_transitive_python_runfiles
common --experimental_remote_cache_compression
common --nolegacy_important_outputs

# Required for cargo_build_script support before Bazel 7
common --incompatible_merge_fixed_and_default_shell_env

# https://github.com/bazelbuild/rules_rust/issues/2084
common --@rules_rust//cargo/settings:experimental_symlink_execroot

build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

common --@io_opentelemetry_cpp//api:with_abseil=true

# Use strict action env to prevent leaks of env vars.
common --incompatible_strict_action_env

build --remote_download_minimal
test --remote_download_minimal
run --remote_download_outputs=all
coverage --build_runfile_links

# Get version information into the build.
common --workspace_status_command=bazel/get_workspace_status.sh

# We only have support for python3 on the Ubuntu 22.04 image.
common --host_force_python=PY3

# Limit memory for JVM to reduce runaway usage.
startup --host_jvm_args=-Xmx1900m

# To run a test that was filtered out:
# bazel test //path/to:test --test_tag_filter=""
test --test_tag_filters=-disabled

# Sets the default Apple platform to macOS.
common --apple_platform_type=macos

# Required for Coral/Edge TPU.
common --define darwinn_portable=1

common --incompatible_sandbox_hermetic_tmp
# Give each sandbox its own tmp directory.
# For more context, see: https://github.com/bazelbuild/bazel/issues/3236
common:tmp-sandbox --sandbox_tmpfs_path=/tmp

# This flag is equivalent to --config=linux on a linux machine, and --config=macos on a macos machine.
common --enable_platform_specific_config

# Linux specific config
# `bazel query` will try to auto-detect the toolchain without this.
common:linux --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
# --platforms is only set on linux, because we don't have a linux cross-compiling setup on macos.
common:linux --platforms=//bazel/cc_toolchains:linux-x86_64
# Likewise, we only have cc_toolchain definitions for our linux compilers, so we only enable toolchain resolution on linux.
common:linux --incompatible_enable_cc_toolchain_resolution
common:linux --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

# Non sysroot config.
common:no_sysroot --//bazel/cc_toolchains:libc_version=glibc_host
common:no_sysroot --config=clang-libstdc++

# We build our own chroot for the sysroot tests, which doesn't work well under bazel's sandbox.
common:sysroot-base --//bazel/test_runners:test_runner=sysroot_chroot
test:sysroot-base --strategy TestRunner=standalone
test:sysroot-base --run_under="bazel/test_runners/sysroot_chroot/test_runner.sh"

common:x86_64_sysroot --config=clang-libstdc++
common:x86_64_sysroot --//bazel/cc_toolchains:libc_version=glibc2_36
common:x86_64_sysroot --config=sysroot-base

common:aarch64_sysroot --config=clang-libstdc++
common:aarch64_sysroot --//bazel/cc_toolchains:libc_version=glibc2_36
common:aarch64_sysroot --platforms=//bazel/cc_toolchains:linux-aarch64
common:aarch64_sysroot --config=sysroot-base
# Increase test timeouts for qemu (don't increase the slowest ones because those are already very long).
common:aarch64_sysroot --test_timeout=180,600,1800,3600
common:aarch64_sysroot --test_env=QEMU_STRACE
common:aarch64_sysroot --test_tag_filters=-no_libcpp,-disabled

common:jetson_sysroot --config=clang-libstdc++
common:jetson_sysroot --//bazel/cc_toolchains:libc_version=glibc2_31
common:jetson_sysroot --platforms=//bazel/cc_toolchains:linux-aarch64
common:jetson_sysroot --//src/gem/plugins:enable_argus
common:jetson_sysroot --//src/gem/plugins:enable_tensorrt
common:jetson_sysroot --//src/gem/plugins:enable_openvino=false
common:jetson_sysroot --//src/gem/plugins:enable_jetson
common:jetson_sysroot --config=sysroot-base
common:jetson_sysroot --//bazel/cc_toolchains/sysroots:sysroot_type=jetson
common:jetson_sysroot --test_env=LD_LIBRARY_PATH=/usr/lib/aarch64-linux-gnu/tegra

common:intelgpu_sysroot --config=clang-libstdc++
common:intelgpu_sysroot --//bazel/cc_toolchains:libc_version=glibc2_36
common:intelgpu_sysroot --config=sysroot-base
common:intelgpu_sysroot --//bazel/cc_toolchains/sysroots:sysroot_type=intelgpu
common:intelgpu_sysroot --//src/gem/plugins:enable_intelgpu

common:cuda_sysroot --config=clang-libstdc++
common:cuda_sysroot --//bazel/cc_toolchains:libc_version=glibc2_36
common:cuda_sysroot --config=sysroot-base
common:cuda_sysroot --//bazel/cc_toolchains/sysroots:sysroot_type=cuda

common:experimental_sysroot --config=clang-libstdc++
common:experimental_sysroot --//bazel/cc_toolchains:libc_version=glibc2_36
common:experimental_sysroot --config=sysroot-base
common:experimental_sysroot --//bazel/cc_toolchains/sysroots:sysroot_type=experimental

common:manylinux_2_31_x86_64_sysroot --config=clang-libstdc++
common:manylinux_2_31_x86_64_sysroot --//bazel/cc_toolchains:libc_version=glibc2_31
common:manylinux_2_31_x86_64_sysroot --config=sysroot-base
common:manylinux_2_31_x86_64_sysroot --//bazel/cc_toolchains/sysroots:sysroot_type=debian11

common:manylinux_2_31_aarch64_sysroot --config=clang-libstdc++
common:manylinux_2_31_aarch64_sysroot --//bazel/cc_toolchains:libc_version=glibc2_31
common:manylinux_2_31_aarch64_sysroot --platforms=//bazel/cc_toolchains:linux-aarch64
common:manylinux_2_31_aarch64_sysroot --config=sysroot-base
common:manylinux_2_31_aarch64_sysroot --//bazel/cc_toolchains/sysroots:sysroot_type=debian11

# Build for Clang using Libc++.
common:clang-libc++ --//bazel/cc_toolchains:compiler=clang
common:clang-libc++ --//bazel:enable_libcpp
common:clang-libc++ --features=libc++ --features=-libstdc++
common:clang-libc++ --build_tag_filters=-no_libcpp
common:clang-libc++ --test_tag_filters=-no_libcpp,-disabled
test:clang-libc++ --config=tmp-sandbox

# Build for Clang with libstdc++:
common:clang-libstdc++ --//bazel/cc_toolchains:compiler=clang
test:clang-libstdc++ --config=tmp-sandbox

# Build for GCC.
# These are copts because they apply to both c++ and c files.
# In particular, upb is has issues with this that will hopefully be
# fixed upstream soon.
common:gcc --build_tag_filters=-no_gcc
common:gcc --test_tag_filters=-no_gcc,-disabled
common:gcc --//bazel/cc_toolchains:compiler=gcc
# TODO: Investigate why tcmalloc breaks linking of go binaries.
common:gcc --define tcmalloc=disabled
common:gcc --copt -Wno-error=sign-compare
common:gcc --copt -Wno-error=stringop-truncation
common:gcc --copt -Wno-error=maybe-uninitialized
test:gcc --config=tmp-sandbox

# bazel build --config asan ...
common:asan --config=clang-libc++
common:asan --//bazel:sanitizer=asan
common:asan --features=asan
common:asan --define GML_CONFIG_ASAN=1
common:asan --define tcmalloc=disabled
common:asan --define signal_trace=disabled
common:asan --build_tag_filters=-no_asan
common:asan --test_timeout=120,600,1800,3600
common:asan --test_tag_filters=-no_asan,-disabled
common:asan --test_env=ASAN_SYMBOLIZER_PATH
common:asan --test_env=ASAN_OPTIONS=handle_abort=1:allow_addr2line=true
common:asan --test_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1
#test:asan --test_env=ASAN_OPTIONS=detect_container_overflow=0

# bazel build --config msan
common:msan --config=clang-libc++
common:msan --//bazel:sanitizer=msan
common:msan --features=msan
common:msan --define GML_CONFIG_MSAN=1
common:msan --define tcmalloc=disabled
common:msan --build_tag_filters=-no_msan
common:msan --test_tag_filters=-no_msan,-disabled

# bazel build --config tsan
common:tsan --config=clang-libc++
common:tsan --//bazel:sanitizer=tsan
common:tsan --features=tsan
common:tsan --define GML_CONFIG_TSAN=1
common:tsan --define tcmalloc=disabled
common:tsan --build_tag_filters=-no_tsan
common:tsan --test_timeout=180,600,1800,3600
common:tsan --test_tag_filters=-no_tsan,-disabled
# This is needed to address false positive problem with abseil.
# https://github.com/google/sanitizers/issues/953
common:tsan --test_env=TSAN_OPTIONS=report_atomic_races=0

# bazel build --config go_race
common:go_race --config=no_sysroot
common:go_race --define tcmalloc=disabled
common:go_race --//bazel:disable_pie
common:go_race --@io_bazel_rules_go//go/config:race

coverage --config=gcc
coverage --cxxopt -fprofile-arcs
coverage --cxxopt -ftest-coverage
coverage --instrument_test_targets
coverage --define GML_COVERAGE=true
coverage --copt -DGML_COVERAGE
coverage --test_tag_filters=-no_coverage,-disabled,-no_gcc
coverage --action_env=COVERAGE_GCOV_OPTIONS=-b

try-import %workspace%/bes.bazelrc

# github.bazelrc is copied from ci/github/bazelrc by the github action workers during the build.
try-import %workspace%/github.bazelrc

# Import a machine specific bazelrc. This can be used to enable caching.
try-import /etc/bazelrc

# Import docker bes overrides if present.
try-import %workspace%/docker.bes.bazelrc

# Put your own configurations into user.bazelrc, which is ignored by git.
try-import %workspace%/user.bazelrc

# Tensorflow requires this option
common --experimental_repo_remote_exec

# Mediapipe requires these options.
common --define OPENCV=source
build --copt -DMESA_EGL_NO_X11_HEADERS
build --copt -DEGL_NO_X11

# This avoids 'Argument list too long' errors with `py_test`/`py_binary`.
common --noexperimental_python_import_all_repositories
