root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
# max_line_length = 120
trim_trailing_whitespace = true

[{**/testdata/**,.idea/**}]
generated = true
indent_size = unset
insert_final_newline = unset

[{*.cc,*.h}]
indent_size = unset

[{Makefile,go.mod,go.sum,*.go}]
indent_style = tab

[{*.bzl,*.py,BUILD.bazel,MODULE.bazel,WORKSPACE}]
indent_size = 4
