# Must be kept in sync with the version of opencv-python in ./src/experimental/constraints.txt
opencv-python-headless==4.5.5.64
# Never install non-headless opencv.
opencv-python<0.0.0

# There's a bug caused by kaggle packaging in 1.6.11: https://github.com/Kaggle/kaggle-api/issues/567
# Newer or older versions are fine.
kaggle!=1.6.11
