# Projectwide requirements for common tooling
black==23.12.1
pytest==7.4.2

opencv-python-headless==4.5.5.64

absl-py==2.0.0
beit3-gml==0.1.2
efficientvit-gml==0.1.8
gradio==4.14.0
groundingdino-gml==0.1.2
grpcio==1.62.0
nats-py==2.7.2
numpy==1.26.2
pandas==2.2.1
Pillow==10.2.0
protobuf==4.23.4
psycopg2-binary==2.9.9
salesforce-lavis==1.0.2
segment-anything-py==1.0
supervision==0.17.1
torch==2.1.2
torchvision==0.16.2

# Fix for bug caused by kaggle packaging in 1.6.11: https://github.com/Kaggle/kaggle-api/issues/567
# This comes from salesforce-lavis via its dep on opendatasets. We don't use the codepath that relies on
# this dep so I'm not in a rush to upgrade.
kaggle==1.6.10
